
@import url('https://fonts.google.com/specimen/Black+Ops+One?query=black+');

* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;

    background: linear-gradient(to bottom, #000000, #1b0e38);

    background-size: cover;

    background-repeat: no-repeat;

    background-attachment: fixed;

    margin: 0;

    color: white;
}

.cabecalho {
    background-color: #39163b52; /* Roxo escuro */
    color: white; /* Cor do texto no cabeçalho */
    padding: 2% 0;
    text-align: center; /* Centralizar o texto */
  }
  
  .cabecalho-menu {
    display: flex;
    justify-content: center; /* Centralizar os itens horizontalmente */
    gap: 80px;
    padding: 20px 0; /* Espaçamento interno para centralizar verticalmente */
  }
  
  .cabecalho-menu-links {
    font-family: 'BlackOpsOne', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

  /* Estilo do texto do cabeçalho ao passar o mouse sobre ele */
.cabecalho-menu-links:hover {
    color: #adadad; /* Cor do texto roxo escuro quando hover */
    transition: color 0.3s; /* Adicionar uma transição suave */
  }
  

  .titulo-destaque {
    color: #d38b06;
  }
  
  .conteudo {
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 40px;
    order: 2;
  }
  
  @keyframes color-pulse-title {
    0% {
        color: #ff5500;
    }
    50% {
        color: #818181; /* Cor durante a animação */
    }
    100% {
        color: #ff5500;
    }
}

.apresentacao-conteudo-titulo {
    /* Adiciona a animação 'color-pulse-title' com uma duração de 2 segundos e repetição infinita */
    animation: color-pulse-title 4s infinite;
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
  }
  

/* Estilos para elementos com a classe .apresentacao-conteudo-paragrafo */
.apresentacao-conteudo-paragrafo {
    /* Define o tamanho da fonte como 24px */
    font-size: 24px;

    /* Define a família de fontes como 'Montserrat' com fallback para sans-serif */
    font-family: 'Montserrat', sans-serif;

    /* Alinha o texto justificado */
    text-align: justify;
}


/* Iniciando estilização da ancora1 (botao1) */

/* Estilos para elementos com a classe .apresentacao-links */
.apresentacao-links {
    /* Define a largura do elemento como 500px */
    width: 500px;

    /* Transforma o elemento em um contêiner flexível com direção de coluna */
    display: flex;
    flex-direction: column;

    /* Centraliza horizontalmente os elementos dentro do contêiner */
    align-items: center;

    /* Define o espaçamento entre os elementos filhos como 20px */
    gap: 20px;
}

.apresentacao-links-conteudo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;

}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.botao1 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'fade-in' com uma duração de 1.5 segundos e repetição única */
    animation: fade-in 1.5s ease-in-out;
    /* Define a cor de fundo como preto */
    background-color: #000;

    /* Define a cor do texto como laranja */
    color: #ff5500;

    /* Define a largura do elemento como 500px */
    width: 500px;

    /* Define a altura do elemento como 80px */
    height: 80px;

    /* Alinha o texto ao centro horizontalmente */
    text-align: center;

    /* Alinha os itens verticalmente ao centro */
    align-items: center;

    /* Adiciona uma borda de 2px sólida laranja */
    border: 2px solid #ff5500;

    /* Define um raio de borda de 50px para criar um botão circular */
    border-radius: 50px;

    /* Define o tamanho da fonte como 36px */
    font-size: 36px;

    /* Adiciona preenchimento de 15px vertical e 0 horizontal */
    padding: 15px 0;

    /* Remove a decoração de texto (sublinhado) */
    text-decoration: none;

    /* Define a família de fontes como 'Rock Salt' com fallback para cursive */
    font-family: 'Rock Salt', cursive;

    /* Define um espaçamento entre as letras */
    letter-spacing: 2px;

    /* Transforma o texto em letras maiúsculas */
    text-transform: uppercase;

    /* Define a posição como relativa para uso de posicionamento absoluto */
    position: relative;

    /* Define o overflow como escondido para recortar conteúdo extra */
    overflow: hidden;
}


/* Pseudo-elemento ::before para elementos com a classe .botao1 */
.botao1::before {
    /* Adiciona um conteúdo vazio ao pseudo-elemento */
    content: "";

    /* Define a posição como absoluta para posicionamento personalizado */
    position: absolute;

    /* Define a posição superior do pseudo-elemento como 0 */
    top: 0;

    /* Define a posição esquerda do pseudo-elemento como -100% (fora da tela) */
    left: -100%;

    /* Define a largura do pseudo-elemento como 100% */
    width: 100%;

    /* Define a altura do pseudo-elemento como 100% */
    height: 100%;

    /* Cria um gradiente linear de 45 graus para o fundo do pseudo-elemento */
    background: linear-gradient(45deg, transparent, #ff5500);

    /* Adiciona uma transição suave de 0.5 segundos */
    transition: 0.5s;
}

/* Pseudo-elemento ::before ao passar o mouse sobre elementos com a classe .botao1 */
.botao1:hover::before {
    /* Move o pseudo-elemento completamente para a direita */
    left: 100%;
}

@keyframes grow-on-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.botao1 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'grow-on-hover' com uma duração de 0.3 segundos e efeito suavizado */
    transition: transform 0.3s ease-in-out;

    /* Define um cursor diferente ao passar o mouse */
    cursor: pointer;
}

.botao1:hover {
    /* Quando o mouse passa por cima, aplica a animação de crescimento */
    animation: grow-on-hover 0.3s ease-in-out;
}


/* Elemento <i> dentro de elementos com a classe .botao1 */
.botao1 i {
    /* Define a posição como absoluta para posicionamento personalizado */
    position: absolute;

    /* Centraliza horizontalmente na metade do elemento pai */
    left: 50%;

    /* Centraliza verticalmente na metade do elemento pai */
    top: 50%;

    /* Move o elemento <i> 50% para a esquerda e 50% para cima */
    transform: translate(-50%, -50%);

    /* Define o tamanho da fonte como 60px */
    font-size: 60px;
}


/* fim da estilização ancora 1(botao1) */

/* Inicio da estilização ancora 2(botao2) */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.botao2 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'fade-in' com uma duração de 1.5 segundos e repetição única */
    animation: fade-in 1.5s ease-in-out;
    background-color: #000;
    color: #0077B5; /* Cor padrão do LinkedIn */
    width: 500px;
    height: 80px;
    align-items: center;
    text-align: center;
    border: 2px solid #0077B5;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #0077B5);
    transition: 0.5s;
}

.botao2:hover::before {
    left: 100%;
}

@keyframes grow-on-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.botao2 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'grow-on-hover' com uma duração de 0.3 segundos e efeito suavizado */
    transition: transform 0.3s ease-in-out;

    /* Define um cursor diferente ao passar o mouse */
    cursor: pointer;
}

.botao2:hover {
    /* Quando o mouse passa por cima, aplica a animação de crescimento */
    animation: grow-on-hover 0.3s ease-in-out;
}


.botao2 i {
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* fim da estilização ancora2(botao2) */

/* inicio estilizaçãp ancora3(botao3) */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.botao3 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'fade-in' com uma duração de 1.5 segundos e repetição única */
    animation: fade-in 1.5s ease-in-out;
    background-color: #000;
    align-items: center;
    color: #333; /* Cor padrão do GitHub */
    width: 500px;   
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 50px;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #333);
    transition: 0.5s;
}

.botao3:hover::before {
    left: 100%;
}

@keyframes grow-on-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.botao3 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'grow-on-hover' com uma duração de 0.3 segundos e efeito suavizado */
    transition: transform 0.3s ease-in-out;

    /* Define um cursor diferente ao passar o mouse */
    cursor: pointer;
}

.botao3:hover {
    /* Quando o mouse passa por cima, aplica a animação de crescimento */
    animation: grow-on-hover 0.3s ease-in-out;
}


.botao3 i {
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* fim da estilização ancora3(botao3) */

/* inicio estilização ancora4(botao4) */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.botao4 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'fade-in' com uma duração de 1.5 segundos e repetição única */
    animation: fade-in 1.5s ease-in-out;
    background-color: #000;
    align-items: center;
    color: #25D366; /* Cor padrão do WhatsApp */
    width: 500px;   
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid#25D366;
    border-radius: 50px;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #25D366);
    transition: 0.5s;
}

.botao4:hover::before {
    left: 100%;
}

@keyframes grow-on-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.botao4 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'grow-on-hover' com uma duração de 0.3 segundos e efeito suavizado */
    transition: transform 0.3s ease-in-out;

    /* Define um cursor diferente ao passar o mouse */
    cursor: pointer;
}

.botao4:hover {
    /* Quando o mouse passa por cima, aplica a animação de crescimento */
    animation: grow-on-hover 0.3s ease-in-out;
}


.botao4 i {
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* fim estilização ancora4(botao4) */

/* inicio estilização ancora5(botao5) */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.botao5 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'fade-in' com uma duração de 1.5 segundos e repetição única */
    animation: fade-in 1.5s ease-in-out;
    background-color: #000;
    align-items: center;
    color: #b61ca9; /* Cor padrão do Instagram */
    width: 500px;   
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid#b61ca9;
    border-radius: 50px;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.botao5::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #2a0887);
    transition: 0.5s;
}

.botao5:hover::before {
    left: 100%;
}

@keyframes grow-on-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.botao5 {
    /* ... (seu estilo existente) */

    /* Adiciona a animação 'grow-on-hover' com uma duração de 0.3 segundos e efeito suavizado */
    transition: transform 0.3s ease-in-out;

    /* Define um cursor diferente ao passar o mouse */
    cursor: pointer;
}

.botao5:hover {
    /* Quando o mouse passa por cima, aplica a animação de crescimento */
    animation: grow-on-hover 0.3s ease-in-out;
}


.botao5 i {
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* fim estilização ancora5(botao5) */

/* inicio estilização imagem */

/* Estilos para elementos com a classe .imagem */
.imagem {
    /* Define a largura máxima do elemento como 100% */
    max-width: 100%;

    /* Define a largura do elemento como 500px (ou o valor desejado) */
    width: 500px;

    /* Define a altura do elemento como 281px (ou o valor desejado) */
    height: 281px;

    /* Utiliza flexbox para alinhar a imagem ao centro horizontalmente */
    display: flex;
    justify-content: flex-start;

    /* Adiciona curvatura nos cantos do elemento */
    border-radius: 10px;

    /* Adiciona uma sombra suave ao elemento */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);

    /* Adiciona uma transição suave à escala do elemento */
    transition: transform 0.3s ease-in-out;

    /* Define a posição como relativa para uso de posicionamento absoluto */
    position: relative;

    /* Define o overflow como escondido para recortar conteúdo extra */
    overflow: hidden;

    /* Define a ordem do elemento como 1 na ordem de exibição */
    order: 1;

    /* Adiciona margem inferior de 80px */
    margin-bottom: 80px;
}


/* Elemento <img> dentro de elementos com a classe .imagem */
.imagem img {
    /* Faz a imagem se ajustar mantendo a proporção */
    object-fit: cover;

    /* Torna a imagem um elemento de bloco */
    display: block;

    /* Define a largura e a altura como 100% para preencher o elemento pai */
    width: 100%;
    height: 100%;
}

/* Pseudo-elementos ::before e ::after para elementos com a classe .imagem */
.imagem::before,
.imagem::after {
    /* Adiciona um conteúdo vazio aos pseudo-elementos */
    content: "";

    /* Define a posição como absoluta para posicionamento personalizado */
    position: absolute;

    /* Define a largura e a altura dos pseudo-elementos como 10px */
    width: 10px;
    height: 10px;

    /* Adiciona uma borda de 2px sólida laranja aos pseudo-elementos */
    border: 2px solid #ff5500;

    /* Define o fundo dos pseudo-elementos como transparente */
    background-color: transparent;
}

/* Pseudo-elemento ::before ao canto superior esquerdo do elemento com a classe .imagem */
.imagem::before {
    /* Posiciona o pseudo-elemento no canto superior esquerdo */
    top: 0;
    left: 0;

    /* Adiciona curvatura de borda no canto superior esquerdo */
    border-top-left-radius: 10px;

    /* Define as larguras das bordas do pseudo-elemento */
    border-width: 2px 0 0 2px;
}

/* Pseudo-elemento ::after ao canto inferior direito do elemento com a classe .imagem */
.imagem::after {
    /* Posiciona o pseudo-elemento no canto inferior direito */
    bottom: 0;
    right: 0;

    /* Adiciona curvatura de borda no canto inferior direito */
    border-bottom-right-radius: 10px;

    /* Define as larguras das bordas do pseudo-elemento */
    border-width: 0 2px 2px 0;
}

/* Efeito ao passar o mouse sobre elementos com a classe .imagem */
.imagem:hover {
    /* Aumenta a escala do elemento em 10% */
    transform: scale(1.1);
}

/* Espaçamento entre o conteúdo principal (main) e o rodapé (footer) */
.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #800000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

/* Estilo de link no rodapé */
.rodape a:hover {
    color: #FFA500;
}



